
span.more_bot{float:right;font-size:10px;font-weight:500
}
.page__content h2{font-size:14px;font-weight:900;margin:10px auto;width:95%
}

ons-icon.ons-icon.fa-plus-circle.fa{font-size:50px
}
.tabbar.tabbar--bottom_bar.tabbar--material.ons-tabbar__footer.ons-swiper-tabbar{padding-bottom:5px;padding-top:5px
}
ons-tab.tabbar--material__item.tabbar__item.tabbar--bottom_bar__item{background:none
}
.tabbar__icon,.tabbar__label,button.tabbar__button.tabbar--material__button.tabbar--bottom_bar__button,ons-ripple.ripple--material.ripple{background:none
}
.tabbar__label{padding-top:7px
}
.page__content.page--material__content{background:none
}
ons-toolbar.toolbar--material.toolbar{background:#000;color:#fff
}
.center.toolbar__center.toolbar__title.toolbar--material__center{color:#fff
}
span.back-button__icon.back-button--material__icon{fill:#fff
}
ons-icon.ons-icon.zmdi.zmdi-menu{color:#fff;fill:#fff
}
ons-tab.tabbar--material__item.tabbar__item.tabbar--add_icon__item.tabbar--bottom_bar__item .tabbar__label{padding-top:14px
}
ons-toolbar.toolbar{background:#000
}
.center.toolbar__center.toolbar__title,.left.toolbar__left,ons-back-button.back-button,ons-icon.ons-icon.ion-navicon.ons-icon--ion{color:#fff
}
span.back-button__icon{color:#fff;fill:#fff
}
ons-tabbar{overflow:auto
}
.tabbar.tabbar--bottom_bar.ons-tabbar__footer.ons-swiper-tabbar{height:75px;padding-bottom:5px;padding-top:5px
}
.tabbar__label{padding-top:15px
}
.tabbar__icon{display:block!important;font-size:24px;height:33px;line-height:30px;margin:0;padding:0
}
button.tabbar__button.tabbar--bottom_bar__button{height:90px
}
.center.selecter_tab{bottom:5px;color:#fff;display:block;margin:0;position:absolute;text-align:center;width:100%
}
ons-toolbar.toolbar{height:100px
}
.tabbar__content{bottom:84px
}
.toolbar+.page__background+.page__content{padding-top:0;top:83px
}
ul.selecter_list li{background:#fff;border:1px solid #000;color:#000;float:left;font-size:12px;font-weight:900;line-height:28px;margin-left:-1px;text-align:center;width:33%
}
ul.selecter_list{-webkit-margin-after:0;-webkit-margin-before:0;-webkit-margin-end:0;-webkit-margin-start:0;-webkit-padding-start:0;bottom:0;left:10%;margin:0 auto!important;margin-block-end:0;margin-block-start:0;margin-inline-end:0;margin-inline-start:0;padding-inline-start:0;position:absolute;width:80%
}
li.default_sellect{background:#d80000!important;color:#fff!important
}
.page__content{top:50px!important
}
